@font-face {
  font-family: myFont;
  src: url(./aset/japanesse.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff4d8;
  font-family: "Poppins";
}

/* navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #780000;
  color: white;
  font-family: myFont;
  box-shadow: 0px 6px 7px rgb(137, 137, 137);
}

/* logo */
.brand-title {
  margin-top: px;
  float: left;
  width: 89px;
  height: 45px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  /* menghapus bulatan list */
  list-style: none;
}

.navbar-links li a {
  /* menghapus garis bawah */
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

/* saat nge hover mouse */
.navbar-links li:hover {
  background-color: rgb(27, 27, 27);
  border-radius: 8px;
}

/* hamburger menu */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  /* menampilkan tampilan default, jika dikecilkan maka baru akan keluar */
  display: none;
  /* agar bertumpuk menjadi tiga */
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.about-us {
  font-family: myFont;
  font-size: 32px;
  margin-left: 780px;
  margin-top: 60px;
  text-shadow: 0px 3px 5px grey;
}

.why-us {
  font-family: myFont;
  font-size: 40px;
  margin-left: 700px;
  margin-top: -30px;
  text-shadow: 0px 3px 5px grey;
}

/* description */
.about-us-des {
  font-size: 20px;
  margin-left: 640px;
  margin-top: -540px;
  text-shadow: 0px 3px 5px grey;
}

/* logo */
.gambar {
  width: 550px;
  margin-top: 0px;
  margin-left: 30px;
  filter: drop-shadow(10px 10px 10px grey);
}

.provide {
  font-size: 20px;
  margin-left: 640px;
  text-shadow: 0px 3px 5px grey;
}

/* free delivery */
.delivery {
  width: 148px;
  height: 44px;
  background-color: black;
  margin-left: 640px;
  margin-top: -10px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(137, 137, 137);
}

.free-delivery {
  color: white;
  font-size: 16px;
  margin-left: 669px;
  margin-top: -35px;
}

/*easy payments */
.payment {
  width: 148px;
  height: 44px;
  background-color: black;
  margin-left: 800px;
  margin-top: -49px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(137, 137, 137);
}

.easy-payment {
  color: white;
  font-size: 16px;
  margin-left: 816px;
  margin-top: -35px;
}

/*service */
.service {
  width: 148px;
  height: 44px;
  background-color: black;
  margin-left: 960px;
  margin-top: -49px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(137, 137, 137);
}

.service2 {
  color: white;
  font-size: 16px;
  margin-left: 990px;
  margin-top: -34px;
}
/* footer */
.kaki {
  height: 30px;
  background-color: #780000;
  margin-top: 240px;
  box-shadow: 0px -2px 10px rgb(84, 84, 84);
}

.kaki2 {
  margin-top: -26px;
  margin-left: 30px;
  color: white;
}

.copyright2 {
  margin-left: 10px;
  margin-top: -39px;
  color: white;
}
footer {
  text-align: center;
  background-color: #780000;
  margin-top: 30px;
  color: white;
  font-family: "poppins";
  margin-top: 203px;
}

/* kondisi biar jadi hamburger */
@media only screen and (max-width: 768px) {
  nav{
    font-size: 80.5%;
  }
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    /* mengubah tampilan menjadi kebawah */
    flex-direction: column;
    /* sejajarkan ke kiri */
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  /* header */
  .about-us {
    margin-left: 330px;
  }

  .why-us {
    margin-left: 235px;
  }
  .gambar {
    width: 300px;
    margin-top: 0px;
    margin-left: -10px;
    filter: drop-shadow(10px 10px 10px grey);
  }
  .about-us-des {
    font-size: 12px;
    margin-left: 300px;
    margin-top: -300px;
    width: 400px;
    text-shadow: 0px 3px 5px grey;
  }
  .provide {
    font-size: 18px;
    margin-left: 300px;
    text-shadow: 0px 3px 5px grey;
  }
  /* free delivery */
  .free-delivery {
    color: white;
    font-size: 13px;
    margin-left: 665px;
    margin-top: -33px;
  }
  .delivery {
    width: 128px;
  }
  free {
    position: relative;
    left: -340px;
  }

  /* payment */
  .payment {
    width: 128px;
  }

  .easy-payment {
    color: white;
    font-size: 13px;
    margin-left: 816px;
    margin-top: -32px;
    width: 100px;
  }
  payment {
    position: relative;
    left: -360px;
    top: 5px;
  }
  /* service */
  .service {
    width: 128px;
  }

  .service2 {
    color: white;
    font-size: 13px;
    margin-left: 985px;
    width: 100px;
    margin-top: -32px;
  }
  service {
    position: relative;
    left: -380px;
    top: 8px;
  }
  footer {
    position: relative;
    background-color: #780000;
    color: white;
    font-family: "Poppins";
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
}
